.experience-item {
    border-radius: 6px;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: var(--space-xs-s);
    padding: var(--space-s);
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--color-navy-light);

        .title, .external-arrow {
            color: var(--color-aqua);
        }

        .external-arrow svg{
            fill: var(--color-aqua);
            transform: translate(2px, -2px);
        }
    }

    .date {
        grid-column: 1 / 2;
        font-size: var(--step--2);
    }

    .content {
        grid-column: 2 / 3;
    }

    .header {
        margin-bottom: var(--space-2xs);
    }

    .title {
        display: flex;
        align-items: center;
        gap: var(--space-3xs);
        margin-bottom: var(--space-3xs);
        transition: color 0.3s ease;

        .external-arrow svg{
            height: 16px;
            width: 16px;
            transition: fill 0.3s ease, transform 0.3s ease;
        }
    }

    .company {
        opacity: 0.8;
    }

    .description {
        margin-bottom: var(--space-s);
    }


    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-3xs);
    }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .experience-item {
    grid-template-columns: 1fr;
    gap: var(--space-2xs);
  }

  .date,
  .content {
    grid-column: 1 / -1;
  }
}
