header.header {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: var(--space-2xl);
    padding: var(--header-padding) 0;
    
    .header-content {
        display: grid;
        grid-gap: var(--space-3xs-s);
    }
    p {
        max-width: 330px;
    }
    .nav ul {
        display: grid;
        grid-gap: var(--space-2xs);
    }
    .contact-section {
        align-self: end;
    }
}