.layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
}

@media screen and (min-width: 1024px) {
    .layout {
        grid-template-columns: 40% 60%;
    }

    .layout > *:first-child {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .layout > *:last-child {
        overflow-y: auto;
    }
}