.moon-container {
    grid-area: moon;
    justify-self: right;
    position: relative;
    @media screen and (min-width: 1024px) {
        justify-self: unset;
    }

}

.sphere {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.hemisphere {
    width: 50%;
    height: 100%;
}

.light {
    background-color: var(--moon-light);
}

.dark {
    background-color: var(--moon-dark);
}

.divider,
.divider:after {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.divider {
    background-color: var(--moon-dark);
}

.divider:after {
    content: '';
    background-color: var(--moon-light);
    transform: rotateY(180deg);
}

.crater {
    background-color: #94908D;
    border-radius: 50%;
    position: absolute;
}
.crater-1 {
    height:20px;
    right: 10px;
    width: 20px;
}
.crater-2 {
    bottom: 10px;
    height: 40px;
    right: 25px;
    width: 40px;
}
.crater-3 {
    top: 10px;
    height: 10px;
    left: 25px;
    width: 10px;
}
.crater-4 {
    top: 15px;
    height: 15px;
    left: 15px;
    width: 15px;
}
.crater-5 {
    top: 22px;
    height: 12px;
    left: 33px;
    width: 12px;
}