@keyframes picAnim1 {
  100% {
    opacity: 1; } }
@keyframes moveBox {
  0% {
    width: 210px;
    height: 210px;
    transform: translate(calc(((100vw - 260px) / 2) * -1), 10vh); }
  90% {
    width: 210px;
    height: 210px;
    transform: translate(calc(((100vw - 260px) / 2) * -1), 10vh); }
  100% {
    width: 65px;
    height: 65px;
    transform: translate(0, 0); } }
@media screen and (min-width: 650px) {
  @keyframes moveBox {
    0% {
      width: 210px;
      height: 210px;
      transform: translate(calc(((100vw - 280px) / 2) * -1), 25vh); }
    90% {
      width: 210px;
      height: 210px;
      transform: translate(calc(((100vw - 280px) / 2) * -1), 25vh); }
    100% {
      width: 95px;
      height: 95px;
      transform: translate(0, 0); } } }
@keyframes fontReducer {
  0% {
    font-size: 2.5em; }
  100% {
    font-size: .75em; } }
@media screen and (min-width: 650px) {
  @keyframes fontReducer {
    0% {
      font-size: 2em; }
    100% {
      font-size: .9em; } } }
@keyframes opacity1 {
  0% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@keyframes ini1 {
  0% {
    transform: translate(-50%, -52%);
    font-size: 5em;
    opacity: 1; }
  7% {
    transform: translate(-50%, -52%);
    font-size: 5em;
    opacity: 1; }
  15% {
    font-size: 2.5em;
    transform: translate(-85px, -108px);
    opacity: 0.3; }
  62% {
    opacity: 0.3; }
  70% {
    opacity: 1; }
  90% {
    transform: translate(-85px, -108px);
    font-size: 2.5em; }
  100% {
    transform: translate(-25px, -31px);
    font-size: .75em;
    opacity: 1; } }
@keyframes ini2 {
  0% {
    transform: translate(-50%, -52%);
    font-size: 5em;
    opacity: 0; }
  14% {
    opacity: 0; }
  15% {
    font-size: 5em;
    transform: translate(-50%, -52%);
    opacity: 1; }
  22% {
    font-size: 5em;
    transform: translate(-50%, -52%);
    opacity: 1; }
  30% {
    font-size: 2.5em;
    transform: translate(0, -108px);
    opacity: 0.3; }
  62% {
    opacity: 0.3; }
  70% {
    opacity: 1; }
  90% {
    transform: translate(0, -108px);
    font-size: 2.5em; }
  100% {
    transform: translate(0, -31px);
    font-size: .75em;
    opacity: 1; } }
@keyframes ini3 {
  0% {
    transform: translate(-50%, -52%);
    font-size: 5em;
    opacity: 0; }
  29% {
    opacity: 0; }
  30% {
    opacity: 1; }
  37% {
    font-size: 5em;
    transform: translate(-50%, -52%);
    opacity: 1; }
  45% {
    font-size: 2.5em;
    font-size: 2.5em;
    transform: translate(-94px, -10px);
    opacity: 0.3; }
  62% {
    opacity: 0.3; }
  70% {
    opacity: 1; }
  90% {
    transform: translate(-94px, -10px);
    font-size: 2.5em;
    font-size: 2.5em; }
  100% {
    transform: translate(-28px, -3px);
    font-size: .75em;
    opacity: 1; } }
@keyframes ini4 {
  0% {
    transform: translate(-50%, -52%);
    font-size: 5em;
    opacity: 0; }
  44% {
    opacity: 0; }
  45% {
    opacity: 1; }
  52% {
    font-size: 5em;
    transform: translate(-50%, -52%);
    opacity: 1; }
  60% {
    font-size: 2.5em;
    transform: translate(-13px, -10px);
    opacity: 0.3; }
  62% {
    opacity: 0.3; }
  70% {
    opacity: 1; }
  90% {
    transform: translate(-13px, -10px);
    font-size: 2.5em; }
  100% {
    transform: translate(-4px, -3px);
    font-size: .75em;
    opacity: 1; } }
@media screen and (min-width: 650px) {
  @keyframes ini1 {
    0% {
      transform: translate(-50%, -52%);
      font-size: 4em;
      opacity: 1; }
    7% {
      transform: translate(-50%, -52%);
      font-size: 4em;
      opacity: 1; }
    15% {
      font-size: 2em;
      transform: translate(-85px, -108px);
      opacity: 0.3; }
    62% {
      opacity: 0.3; }
    70% {
      opacity: 1; }
    90% {
      transform: translate(-85px, -108px);
      font-size: 2em; }
    100% {
      transform: translate(-39px, -47px);
      font-size: .9em;
      opacity: 1; } }
  @keyframes ini2 {
    0% {
      transform: translate(-50%, -52%);
      font-size: 4em;
      opacity: 0; }
    14% {
      opacity: 0; }
    15% {
      font-size: 4em;
      transform: translate(-50%, -52%);
      opacity: 1; }
    22% {
      font-size: 4em;
      transform: translate(-50%, -52%);
      opacity: 1; }
    30% {
      font-size: 2em;
      transform: translate(0, -107px);
      opacity: 0.3; }
    62% {
      opacity: 0.3; }
    70% {
      opacity: 1; }
    90% {
      transform: translate(0, -107px);
      font-size: 2em; }
    100% {
      transform: translate(0, -47px);
      font-size: .9em;
      opacity: 1; } }
  @keyframes ini3 {
    0% {
      transform: translate(-50%, -52%);
      font-size: 4em;
      opacity: 0; }
    29% {
      opacity: 0; }
    30% {
      opacity: 1; }
    37% {
      font-size: 4em;
      transform: translate(-50%, -52%);
      opacity: 1; }
    45% {
      font-size: 2em;
      transform: translate(-94px, -10px);
      opacity: 0.3; }
    62% {
      opacity: 0.3; }
    70% {
      opacity: 1; }
    90% {
      transform: translate(-94px, -10px);
      font-size: 2em; }
    100% {
      transform: translate(-42px, -5px);
      font-size: .9em;
      opacity: 1; } }
  @keyframes ini4 {
    0% {
      transform: translate(-50%, -52%);
      font-size: 4em;
      opacity: 0; }
    44% {
      opacity: 0; }
    45% {
      opacity: 1; }
    52% {
      font-size: 4em;
      transform: translate(-50%, -52%);
      opacity: 1; }
    60% {
      font-size: 2em;
      transform: translate(-13px, -10px);
      opacity: 0.3; }
    62% {
      opacity: 0.3; }
    70% {
      opacity: 1; }
    90% {
      transform: translate(-13px, -10px);
      font-size: 2em; }
    100% {
      transform: translate(-6px, -5px);
      font-size: .9em;
      opacity: 1; } } }
/* Coolors Exported Palette - coolors.co/edf5fc-568ea3-92d5e6-7bc950-e08e45 */
/* HSL */
/* RGB */
/* examples colors */
.footer {
  text-align: center;
  padding: 50px 10px; }
  .footer__svg {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    fill: #568ea3; }

/* Coolors Exported Palette - coolors.co/edf5fc-568ea3-92d5e6-7bc950-e08e45 */
/* HSL */
/* RGB */
/* examples colors */
* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #568ea3;
  text-align: center;
  background-color: #edf5fc;
  margin: 0; }

a:hover {
  text-decoration: none; }
a:visited {
  text-decoration: none;
  color: #568ea3; }

.initials h1 {
  position: relative;
  line-height: .9;
  border: 3px solid #568ea3;
  width: 95px;
  height: 95px;
  float: right;
  margin: 20px;
  padding-top: 7px; }
.initials__span {
  font-size: 1.3em; }

.hero {
  clear: both;
  display: flex;
  position: relative;
  border-bottom: 2px solid #568ea3;
  top: -40px; }
  .hero__container {
    position: relative;
    padding-top: 51.88%;
    margin: 0;
    width: 35%; }
  .hero__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 550px;
    height: auto;
    overflow: hidden; }
    .hero__img--1, .hero__img--3 {
      float: left; }
  .hero__headline {
    width: 220px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto; }
    @media screen and (min-width: 650px) {
      .hero__headline {
        width: 325px; } }
    @media screen and (min-width: 800px) {
      .hero__headline {
        width: 375px; } }
    .hero__headline--text {
      margin-top: 0; }
      @media screen and (min-width: 650px) {
        .hero__headline--text {
          position: relative;
          top: 130px; } }
      @media screen and (min-width: 800px) {
        .hero__headline--text {
          position: relative;
          top: 220px; } }
    .hero__headline h1 {
      font-size: 1.6em; }
      @media screen and (min-width: 650px) {
        .hero__headline h1 {
          font-size: 2.4em; } }
      @media screen and (min-width: 800px) {
        .hero__headline h1 {
          font-size: 2.81em; } }
    .hero__headline h3 {
      font-size: 1.3em; }
      @media screen and (min-width: 650px) {
        .hero__headline h3 {
          font-size: 1.55em; } }
      @media screen and (min-width: 800px) {
        .hero__headline h3 {
          font-size: 1.68em; } }

.bio {
  display: flex;
  padding: 0 50px; }
  .bio p:nth-child(2) {
    text-align: left;
    margin: 20px auto;
    width: 45%; }
  .bio div {
    text-align: left; }
    .bio div p:nth-child(2) {
      margin: 20px 0;
      width: 100%; }

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #565F5D;
  color: #92d5e6; }
  @media screen and (min-width: 650px) {
    .examples {
      padding: 0 30px 30px; } }
  .examples__title {
    text-align: center;
    flex-basis: 100%; }
  .examples__card {
    position: relative;
    width: 45%;
    margin: 35px auto 0;
    height: 190px;
    text-align: center;
    border: 5px solid #92d5e6;
    border-radius: 2px;
    transition: .3s; }
    @media screen and (min-width: 800px) {
      .examples__card {
        width: 31%;
        margin: 35px 0 0;
        height: 250px; } }
    .examples__card:hover {
      border: 5px solid #7bc950; }
    .examples__card--svg {
      height: 70px;
      width: 70px;
      fill: #edf5fc;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%); }
      @media screen and (min-width: 800px) {
        .examples__card--svg {
          height: 100px;
          width: 100px;
          fill: #edf5fc;
          position: absolute;
          top: 10%; } }
    .examples__card h3 {
      color: #568ea3;
      opacity: 1;
      font-size: 1em;
      margin: 5px; }
    @media screen and (min-width: 800px) {
      .examples__card--ge-app h3 {
        width: 220px;
        margin: 5px auto; } }

.description {
  color: #568ea3;
  background: #edf5fc;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px 0 0; }
  .description p {
    text-align: center;
    padding: 20px 10px;
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
