header {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: var(--space-2xl);
    padding: var(--header-padding) 0;
    
    .header-content {
        display: grid;
        grid-gap: var(--space-3xs-s);
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
        max-width: 330px;
    }
    .contact-section {
        align-self: end;
    }
}