/* Coolors Exported Palette - coolors.co/edf5fc-568ea3-92d5e6-7bc950-e08e45 */

/* HSL */
$background1: hsla(208%, 71%, 96%, 1);
$text1: hsla(196%, 31%, 49%, 1);
$text2: hsla(192%, 63%, 74%, 1);
$green: hsla(99%, 53%, 55%, 1);
$orange: hsla(28%, 71%, 57%, 1);

/* RGB */
$background1: rgba(237, 245, 252, 1);
$text1: rgba(86, 142, 163, 1);
$text2: rgba(146, 213, 230, 1);
$green: rgba(123, 201, 80, 1);
$orange: rgba(224, 142, 69, 1);
$grey: #565F5D;
$greyOpacity: rgba(86,95,93, .5);


/* examples colors */
$cloudcap: #4c99ba;
